/* base element*/

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: sans-serif;
  color: black;
  background-color: white;
}

p{
  font-size: 20px;

}
.container p,
.banner p{
  text-align: center;
}

h1,
h2{
  color: blue;
}

h1{
  font-size: 40px;
}

h3{
  text-align: center;
}

li{
  list-style: none;
  font-size: 25px;
}

a{
  text-decoration: none;
}

/* ===base layout===*/

/*navigation layout*/
.student{
  margin: 0;
  padding: 0 10px;
}

.main-nav{
  margin-top: 5px;
}

.student,
.main-nav li{
  display: block;
  padding: 10px 15px;
  text-align: center;
}

ul{
  padding-left: 0;
}

a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

/* layout container*/

.banner{
  text-align: center;
  margin: 0 auto;
  width: 100%;


}

.banner img{
  margin: 0 auto;
  width: 100%;
}


.container{
  background-color: white;

  width: 100%;
  margin: 0 auto;
}

.col{
  background-color: lightgrey;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

.pic{
  width: 100%;
  padding: 10px 20px;
  margin: 5px auto;

}

/* bottom stud name and back to top*/
.bottom{
  border-top: 2px solid black;
  margin: 20px 0;

}


.stu{
  float: left;


  padding: 10px;


}

.back{
  float: right;


  padding: 10px;
}

.stu,
.back{

}

#portfolio{
  display: block;
  padding: 20px;
  margin: 15px auto;
  text-align: center;

}
/* no footer navigation bar in mobile screen*/
#bigscreen{
  display: none;
}


/*=======================
        media query
  ========================*/

@media (min-width: 768px) {
  #mobile{
    display: none;
  }

/* nav bar orizontaly*/

  .main-nav{
    text-align: center;
  }

  .main-nav li{
    display: inline-block;
  }




/* banner*/

  .banner img{
    float: right;
    margin: 10px;
    padding: 5px;
    width: 40%;

  }

    .clearfix::after{
      content: "";
      visibility: hidden;
      display: block;
      clear: both;
      height: 0;
    }

    .banner p{
      padding: 15px;
      margin: 10px;
      text-align: left;
    }


    /*portgolio*/


    .col{
      float: left;
      width: calc(50% - 4%);
      padding: 10px;
      margin: 2%;
      min-height: 356px;
    }

/* fouter nav for 768px and 1024px*/

    #bigscreen{
      display: block;
    }
    .footer-nav{
      text-align: center;
      float: right;
    }

    .footer-nav li{
      display: inline-block;
      padding: 10px 15px;
      text-align: center;
      margin: 0;
    }

    .stu{
      padding: 10px 15px;
    }
    #contact{
      padding: 10px;
    }
}


@media (min-width: 1024px){

    .container{
      width:80%;
      max-width:1150px;
    }

    #mobile{
      display: none;
    }



    .student{
      float: left;
      margin: 0;
      margin-left: 50px;
      padding: 10px 15px;

    }

    .main-nav{
      float: right;
      margin: 0;
      margin-right: 50px;
      padding: 10px 15px;
    }


    .col{
      float: left;
      width: calc(33% - 4%);
    }
}
