/* base element*/

*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: black;
}

p{
  font-size: 20px;

}
.container p,
.banner p{
  text-align: center;
}

h1,
h2{
  color: blue;
}

h1{
  font-size: 40px;
}

h3{
  text-align: center;
}

li{
  list-style: none;
  font-size: 25px;
}

a{
  text-decoration: none;
}

/* ===base layout===*/

/*navigation layout*/
.student{
  margin: 0;
  padding: 0 10px;
}

.main-nav{
  margin-top: 5px;
}

.student,
.main-nav li{
  display: block;
  padding: 10px 15px;
  text-align: center;
}

/* layout container*/

.banner{
  text-align: center;
  margin: 0 auto 20px;
  width: 100%;
  background-color: red;

}


.container{
  background-color: green;
  border: blue 2px solid;
  width: 100%;
}

.col{
  background-color: orange;
  border: black 2px solid;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.pic{
  width: 100%;
  padding: 10px 20px;
  margin: 5px auto;

}

/* bottom stud name and back to top*/
.bottom{
  border: 2px solid black;

}


.stu{
  float: left;
  border: 2px solid black;
  margin: 15px;

}

.back{
  float: right;
  border: 2px solid black;
  margin: 15px;
}
@media (min-width: 320px) {

  #bigscreen{
    display: none;
  }

}
/* no navigation bar in mobile screen*/



/*=======================
        media query
  ========================*/

@media (min-width: 768px) {
  #mobile{
    display: none;
  }

/* nav bar orizontaly*/

  .main-nav{
    text-align: center;
  }

  .main-nav li{
    display: inline-block;
  }




/* banner*/

  .banner img{
    float: right;
    margin: 10px;
    padding: 5px;

  }

    .clearfix::after{
      content: "";
      visibility: hidden;
      display: block;
      clear: both;
      height: 0;
    }

    .banner p{
      padding: 5px;
      margin: 10px;
      text-align: left;
    }


    /*portgolio*/


    .col{
      float: left;
      width: calc(50% - 4%);
      padding: 10px;
      margin: 2%;
    }
}



@media (min-width: 1024px){
    #mobile{
      display: none;
    }



    .student{
      float: left;
      margin: 0;
      margin-left: 50px;

    }

    .main-nav{
      float: right;
      margin: 0;
      margin-right: 50px;
    }


    .col{
      float: left;
      width: calc(33% - 4%);
    }
}
